.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  font-size: 3rem;
  color: #828282;

  span {
    color: white;
    animation: 1s ease infinite pulse;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
